<div class='wrapper'>

    <app-header></app-header>

    <!-- Forgot Password Form -->

    <mat-spinner class="spinner" *ngIf="loader"></mat-spinner>
    <div class="disable-background" *ngIf="loader"></div>

    <div class="inline-form-centered">
        <div class="inline-form-container-login">
            <div class="login">
                <h4 style="margin-bottom: 1.5rem;">Create a New Password</h4>
                <form method="post" autocomplete="on" action="/clients/tred-web-v0.1/index.php?page=forgot-password#contact-us" [formGroup]="forgotPwFormGroup" (ngSubmit)="resetPassword($event)">
                    <p>
                        <mat-form-field floatLabel="never">
                            <input style="margin-bottom: 0;" matInput [type]="hide ? 'password' : 'text'" name="newPassword" value="" placeholder="New Password *" formControlName="newPassword" [errorStateMatcher]="matcher" />
                            <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" style="margin-left: -6rem; margin-top: 0.5rem;">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button> -->
                            <mat-error *ngIf="newPwFormControl?.hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="newPwFormControl?.hasError('minlength')">
                                Password must be at least 8 characters
                            </mat-error>
                            <mat-error class="error-text" *ngIf="newPwFormControl?.hasError('passwordStrength')">
                                {{forgotPwFormGroup.get('newPassword').errors['passwordStrength']}}
                            </mat-error>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field floatLabel="never">
                            <input style="margin-bottom: 0;" matInput [type]="hide ? 'password' : 'text'" name="confirmPassword" value="" placeholder="Confirm Password *" formControlName="confirmPw" [errorStateMatcher]="matcher" />
                            <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" style="margin-left: -6rem; margin-top: 0.5rem;">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button> -->
                            <mat-error *ngIf="confirmPwFormControl?.hasError('required')">
                                Confirmation of password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="confirmPwFormControl.hasError('mismatch')">
                                Passwords do not match
                            </mat-error>
                        </mat-form-field>
                    </p>

                    <p class="inline-form-error" style="padding: 0; margin-top: -0.8rem;">{{ resetPwErrorMessage }}</p>
                    <div class="inline-form-content">
                        <div class="inline-form-submit">
                            <p><input type="submit" value="Reset Password" name="inlineform" /></p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="banner"></div>
        </div>
    </div>

    <app-footer></app-footer>

</div>