<div class="views">
    <div class="blocker">
        <div class="blocker-text">
            <h4>Available in Enterprise Version</h4>
            <p>This feature will be available in Enterprise version.</p>
            <p><a class="link" [routerLink]="['/help']" [queryParams]="{name: 'Provide Feedback'}">Click here to reach us for more info</a></p>
        </div>
      </div>
    <div class="widget opaque rounded blur">
  <table class="data_table">
    <thead>
      <tr>
        <td><p>Status</p></td>
        <td><p class="sort up">Pipeline Name</p></td>
        <td><p class="date sort down">Run Start</p></td>
        <td><p class="date sort down">Run End</p></td>
        <td><p class="sort up">By</p></td>
        <td><p class="number sort up">Drift</p></td>
        <td><p class="number sort down">DQ</p></td>
        <td><p class="number sort down">Duration</p></td>
        <td><p class="number sort up">Error</p></td>
        <td><p>View</p></td>
        <td><p>Graph</p></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><p class="status green">&nbsp;</p></td>
        <td><p class="name">Customer Churn</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p>Admin</p></td>
        <td><p class="status green number">27.98%</p></td>
        <td><p class="status green number">82.01%</p></td>
        <td><p class="number">90 min</p></td>
        <td><p class="status green number">32.10%</p></td>
        <td><p class="icon view">&nbsp;</p></td>
        <td><p class="icon graph">&nbsp;</p></td>
      </tr>
      <tr>
        <td><p class="status green">&nbsp;</p></td>
        <td><p class="name">Customer Churn</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p>Admin</p></td>
        <td><p class="status green number">27.98%</p></td>
        <td><p class="status orange number">82.01%</p></td>
        <td><p class="number">90 min</p></td>
        <td><p class="status green number">32.10%</p></td>
        <td><p class="icon view">&nbsp;</p></td>
        <td><p class="icon graph">&nbsp;</p></td>
      </tr>
      <tr>
        <td><p class="status green">&nbsp;</p></td>
        <td><p class="name">A very long name can come here. Lorem ipsum dolor sit amet consectetur adipisicing elit laborum.</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p>Sourabh Kumar Jha</p></td>
        <td><p class="status green number">27.98%</p></td>
        <td><p class="status red number">82.01%</p></td>
        <td><p class="number">90 min</p></td>
        <td><p class="status green number">32.10%</p></td>
        <td><p class="icon view">&nbsp;</p></td>
        <td><p class="icon graph">&nbsp;</p></td>
      </tr>
      <tr>
        <td><p class="status green">&nbsp;</p></td>
        <td><p class="name">Customer Churn</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p>Admin</p></td>
        <td><p class="status orange number">27.98%</p></td>
        <td><p class="status green number">82.01%</p></td>
        <td><p class="number">90 min</p></td>
        <td><p class="status green number">32.10%</p></td>
        <td><p class="icon view">&nbsp;</p></td>
        <td><p class="icon graph">&nbsp;</p></td>
      </tr>
      <tr>
        <td><p class="status red">&nbsp;</p></td>
        <td><p class="name">Customer Churn</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p>Admin</p></td>
        <td><p class="status green number">27.98%</p></td>
        <td><p class="status green number">82.01%</p></td>
        <td><p class="number">90 min</p></td>
        <td><p class="status green number">32.10%</p></td>
        <td><p class="icon view">&nbsp;</p></td>
        <td><p class="icon graph">&nbsp;</p></td>
      </tr>
      <tr>
        <td><p class="status red">&nbsp;</p></td>
        <td><p class="name">Customer Churn</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p>Admin</p></td>
        <td><p class="status green number">27.98%</p></td>
        <td><p class="status green number">82.01%</p></td>
        <td><p class="number">90 min</p></td>
        <td><p class="status orange number">32.10%</p></td>
        <td><p class="icon view">&nbsp;</p></td>
        <td><p class="icon graph">&nbsp;</p></td>
      </tr>
      <tr>
        <td><p class="status green">&nbsp;</p></td>
        <td><p class="name">Customer Churn</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p>Admin</p></td>
        <td><p class="status green number">27.98%</p></td>
        <td><p class="status green number">82.01%</p></td>
        <td><p class="number">90 min</p></td>
        <td><p class="status green number">32.10%</p></td>
        <td><p class="icon view">&nbsp;</p></td>
        <td><p class="icon graph">&nbsp;</p></td>
      </tr>
      <tr>
        <td><p class="status green">&nbsp;</p></td>
        <td><p class="name">Customer Churn</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p>Admin</p></td>
        <td><p class="status green number">27.98%</p></td>
        <td><p class="status green number">82.01%</p></td>
        <td><p class="number">90 min</p></td>
        <td><p class="status green number">32.10%</p></td>
        <td><p class="icon view">&nbsp;</p></td>
        <td><p class="icon graph">&nbsp;</p></td>
      </tr>
      <tr>
        <td><p class="status green">&nbsp;</p></td>
        <td><p class="name">Customer Churn</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p>Admin</p></td>
        <td><p class="status green number">27.98%</p></td>
        <td><p class="status orange number">82.01%</p></td>
        <td><p class="number">90 min</p></td>
        <td><p class="status green number">32.10%</p></td>
        <td><p class="icon view">&nbsp;</p></td>
        <td><p class="icon graph">&nbsp;</p></td>
      </tr>
      <tr>
        <td><p class="status green">&nbsp;</p></td>
        <td><p class="name">Another very long name can come here. Lorem ipsum dolor sit amet consectetur adipisicing elit laborum.</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p>Admin</p></td>
        <td><p class="status green number">27.98%</p></td>
        <td><p class="status red number">82.01%</p></td>
        <td><p class="number">90 min</p></td>
        <td><p class="status green number">32.10%</p></td>
        <td><p class="icon view">&nbsp;</p></td>
        <td><p class="icon graph">&nbsp;</p></td>
      </tr>
      <tr>
        <td><p class="status green">&nbsp;</p></td>
        <td><p class="name">Customer Churn</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p>Admin</p></td>
        <td><p class="status orange number">27.98%</p></td>
        <td><p class="status green number">82.01%</p></td>
        <td><p class="number">90 min</p></td>
        <td><p class="status green number">32.10%</p></td>
        <td><p class="icon view">&nbsp;</p></td>
        <td><p class="icon graph">&nbsp;</p></td>
      </tr>
      <tr>
        <td><p class="status red">&nbsp;</p></td>
        <td><p class="name">Customer Churn</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p>Admin</p></td>
        <td><p class="status green number">27.98%</p></td>
        <td><p class="status green number">82.01%</p></td>
        <td><p class="number">90 min</p></td>
        <td><p class="status green number">32.10%</p></td>
        <td><p class="icon view">&nbsp;</p></td>
        <td><p class="icon graph">&nbsp;</p></td>
      </tr>
      <tr>
        <td><p class="status red">&nbsp;</p></td>
        <td><p class="name">Customer Churn</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p>Admin</p></td>
        <td><p class="status green number">27.98%</p></td>
        <td><p class="status green number">82.01%</p></td>
        <td><p class="number">90 min</p></td>
        <td><p class="status orange number">32.10%</p></td>
        <td><p class="icon view">&nbsp;</p></td>
        <td><p class="icon graph">&nbsp;</p></td>
      </tr>
      <tr>
        <td><p class="status green">&nbsp;</p></td>
        <td><p class="name">Customer Churn</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p class="date">Jan 01 8:56 AM</p></td>
        <td><p>Admin</p></td>
        <td><p class="status green number">27.98%</p></td>
        <td><p class="status green number">82.01%</p></td>
        <td><p class="number">90 min</p></td>
        <td><p class="status green number">32.10%</p></td>
        <td><p class="icon view">&nbsp;</p></td>
        <td><p class="icon graph">&nbsp;</p></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="widget project-description blur">
  <div class="description">
    <p>Explain what this is. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut nunc nisi. Ut vehicula, massa non iaculis sagittis, tortor diam scelerisque enim, vitae lobortis orci urna sit amet justo. Nunc quis luctus lacus, eu euismod augue. </p>
  </div>
  
</div>
<svg:svg>
      <!-- Filter -->
      <svg:filter id="blurLayer">
        <!-- Blur and attributes -->
        <svg:feGaussianBlur stdDeviation="0.99" />
      </svg:filter>
    </svg:svg>