<div class="wrapper">
    <!-- <div class="boilerplate">
        <ul>

            <li class=""><a href="https://campaign.tredence.com/mlworks" target="_blank">Company</a></li>
            <li class=""><a href="https://campaign.tredence.com/mlworks" target="_blank">Team</a></li>
            <li class=""><a href="https://www.tredence.com/contact-us/" target="_blank">Contact Us</a></li>
            <li class=""><a href="https://www.tredence.com/blog/" target="_blank">Blogs</a></li>
            <li class="">
                <a href="?page="></a>
            </li>
            <li class=""><a href="javascript:void(0)" (click)="openPDF(pdftype.termsCondition);">Terms and
                    Conditions</a></li>
            <li class=""><a href="https://www.tredence.com/privacy-policy/" target="_blank">Privacy Policy</a></li>
        </ul>
        <ul>
            <li class="highlight">Technical Documentation</li>
            <li class=""><a href="javascript:void(0)" (click)="openPDF(pdftype.drift);">Drift</a></li>
            <li class=""><a href="javascript:void(0)" (click)="openPDF(pdftype.xai);">Explainability</a></li>
            <li class=""><a href="javascript:void(0)" (click)="openPDF(pdftype.models);">Models</a></li>
            <li class=""><a href="javascript:void(0)" (click)="openPDF(pdftype.pre);">Preprocessed</a></li>
            <li class="">
                <a href="?page="></a>
            </li>
            <li class="">
                <a href="?page="></a>
            </li>
        </ul>
    </div> -->
    <div class="copytext">
        <p>&copy;ML Works 2021 </p>
    </div>
</div>